.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 50px;
    color: #6439ff;
    margin-bottom: 20px;
  }
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #6439ff;
  padding: 50px;
  border-radius: 10px;
}

.lInput {
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #57b1f1;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}
.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
