.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navItems {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  font-weight: 700;
  font-size: 20px;
  color: goldenrod;
}
.username {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
}

.navButton {
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
